@use "../../scss/" as *;

button {
  font-family: $font-family;
  cursor: pointer;
}

.btn {
  border: 4px solid transparent;
  background-color: $main-color;
  color: $white-color;
  border-radius: $border-radius;
  padding: 0.5rem 1.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0px 0px 7px 8px #ff00004d;
  transition: box-shadow 0.3s ease;
  position: relative;

  &:hover {
    box-shadow: 0px 0px 7px 15px #ff00004d;
  }
}

.btn-outline {
  border: 3px solid transparent;
  background-color: transparent;
  color: $white-color;
  box-shadow: unset;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover {
    box-shadow: unset;
    color: $main-color;
    background-color: $white-color;
  }
}

.btn.small {
  border-width: 2px;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
}
